html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
}
.App {
    text-align: center;
    &-header {
        background-color: #282c34;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
    nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        a {
            font-size: 1.8rem;
            text-decoration: none;
            color: #20819c;
            transition: color 0.2s linear;
            &:hover,
            &.active {
                color: #61dafb;
            }
        }
    }
    section {
        margin: 50px 0 0 0;
        .container {
            max-width: 120rem;
            margin: 0 auto;
        }
    }
}

body {
    background-color: #3e485c;
}

@import "../src/components/Form/Form.css";
@import "../src/pages/StockPage/StockPage.css";
@import "../src/components/StockItem/StockItem.css";
